{% extends 'layout.html' %}
{% block container %}

<!-- <div id="" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="" />
     </h4>
   </div>
</div> -->

<!-- <div id="" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="" />
     </h4>
   </div>
</div>
<div id="" class="row hidden">
   <div class="col-lg-12">
     <div class="col-lg-6 text-right">
       <input id="" type="hidden" name="" value="">
       <button id="" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="" />
       </button>
     </div>
     <div class="col-lg-6 text-left">
       <input id="" type="hidden" name="" value="">
       <button id="" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="" />
       </button>
     </div>
   </div>
</div> -->


<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
-->
<!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jtrial/3.2.1/jquery.min.js"></script> -->
	<!--
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jtrial/3.2.1/jquery.min.js"></script>
		<style>
			button {
				display: inline-block;
				height: 134px;
				padding: 0;
				margin: 0;
				vertical-align: top;
				width:104px;
				}
			#Gallery1ID img {
				display: block;
				height: 66px;
				width: 100px;
			}
		</style>
	-->
	<img id="ProbeID" src="{{trial.ProbePath}}">
		<a href="{{ url_for('faces.response', sid=trial.UUID, tid=trial.idTrials, rid=trial.Gallery1ID) }}">
		<!--
			<button id = "Gallery1ID">
				<img src="{{trial.Gallery1Path}}" width="66" height="66"/>
			</button>
			<input id="Gallery1ID" type="image" src="{{trial.Gallery1Path}}" alt="Submit" width="66" height="66">
		</a>
		<a href="{{trial.url2}}">
			<input id="Gallery2ID" type="image" src="{{trial.Gallery2Path}}" alt="Submit" width="66" height="66">
		</a>
		<a href="{{trial.url3}}">
			<input id="Gallery3ID" type="image" src="{{trial.Gallery3Path}}" alt="Submit" width="66" height="66">
		</a>
  			$('#Gallery1ID').delay(50).show(0);
  			$('#Gallery2ID').delay(50).show(0);
  			$('#Gallery3ID').delay(50).show(0);
	-->
		<!-- <script>
			$('#ProbeID').delay(50).hide(0);
		</script> -->
{% endblock %}
