{% extends 'layout.html' %}
{% block container %}
{% for trial in exp0 %}
<div id="exp0_probe_{{trial.id}}_div" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="http://localhost:25250/{{trial.path}}" />
     </h4>
   </div>
</div>
<div id="exp0_response_{{trial.id}}_div" class="row hidden">
   <div class="col-lg-12">
     <div class="col-lg-4 text-right">
       <input id="exp0_{{trial.id}}_0_input" type="hidden" name="exp0_0_input" value="{{trial.solution[0]}}">
       <button id="exp0_{{trial.id}}_0_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="{{trial.tooltip[0]}}">1. {{trial.choices[0]}}</button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-4 text-center">
       <input id="exp0_{{trial.id}}_1_input" type="hidden" name="exp0_1_input" value="{{trial.solution[1]}}">
       <button id="exp0_{{trial.id}}_1_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="{{trial.tooltip[1]}}">2. {{trial.choices[1]}}</button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-4 text-left">
       <input id="exp0_{{trial.id}}_2_input" type="hidden" name="exp0_2_input" value="{{trial.solution[2]}}">
       <button id="exp0_{{trial.id}}_2_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="{{trial.tooltip[2]}}">3. {{trial.choices[2]}}</button>
     </div>
   </div>
</div>
{% endfor %}
{% endblock %}
