{% extends 'layout.html' %}
{% block container %}
{% for trial in exp1 %}
<div id="exp1_probe_{{trial.id}}_div" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="http://localhost:25250/{{trial.path}}" />
     </h4>
   </div>
</div>
<div id="exp1_response_{{trial.id}}_div" class="row hidden">
   <div class="col-lg-12">
     <div class="col-lg-6 text-right">
       <input id="exp1_{{trial.id}}_0_input" type="hidden" name="exp1_0_input" value="{{trial.solution[0]}}">
       <button id="exp1_{{trial.id}}_0_btn" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="http://localhost:25250/{{trial.choices[0]}}" />
       </button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-6 text-left">
       <input id="exp1_{{trial.id}}_1_input" type="hidden" name="exp1_1_input" value="{{trial.solution[1]}}">
       <button id="exp1_{{trial.id}}_1_btn" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="http://localhost:25250/{{trial.choices[1]}}" />
       </button>
     </div>
   </div>
</div>
{% endfor %}
{% endblock %}
