{% extends 'layout.html' %}
{% block container %}
<div id="intro_expand_div" class="row">
   <div class="col-lg-12">
     <h4 style="text-align: center;">Before starting, please make your browser window as large as possible.</h4>
   </div>
   <div class="col-lg-12 text-center">
     <button id="intro_next_btn" type="button" class="btn btn-info">Next</button>
   </div>
</div>
<div id="intro_desc_div" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">Let's figure out how well you name objects with perturbations!</h4>
     <br />
     <h4 style="text-align: center;">You will participate in two different tasks, each will contain a practice example followed by a series of trials and will take approximately 10 minutes. <br />Your response time does not matter, so take as much time as needed. Correct answers are all that matter.</h4>
   </div>
   <div class="col-lg-12 text-center">
     <button id="intro_begin_btn" type="button" class="btn btn-info">Begin</button>
   </div>
</div>
{% endblock %}
