{% extends 'layout.html' %}
{% block container %}
<div id="prac0_instructions_div" class="row">
  <div class="col-lg-3"></div>
   <div class="col-lg-6">
     <h4 style="text-align: center;">Task One will test your ability to name what you see in an image.
        You will be shown an image for 50 milliseconds (200 milliseconds for the practice session) after which the image will disappear.
        When the image disappears, three labels will be shown. You can take as much time as you want to select one of the three labels.
        Pick the label that best matches the image shown. <br /><span style="font-weight: bold;">Hint:</span> If you don't know what a word means, hover your pointer over the button before you make your choice.</h4>
   </div>
   <div class="col-lg-3"></div>
   <div class="col-lg-12 text-center">
     <button id="prac0_begin_btn" type="button" class="btn btn-info">Begin Practice</button>
   </div>
</div>
<div id="prac0_probe_div" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="{{ url_for('static', filename='images/profile.jpg') }}" />
     </h4>
   </div>
</div>
<div id="prac0_response_div" class="row hidden">
   <div class="col-lg-12">
     <div class="col-lg-4 text-right">
       <button id="prac0_0_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="Dr. Walter Scheirer">1. Walter Scheirer</button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-4 text-center">
       <button id="prac0_1_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="Brandon RichardWebster">2. Brandon RichardWebster</button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-4 text-left">
       <button id="prac0_2_btn" type="button" class="btn btn-info" data-toggle="tooltip" title="Dr. Kevin Bowyer">3. Kevin Bowyer</button>
     </div>
   </div>
</div>
<div id="prac0_answer_div" class="row hidden">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 text-center">
    <h4>The correct answer is <span style="font-weight: bold;">Brandon RichardWebster</span>.</h4>
    <h4>Unlike this example, you will not receive any feedback until the end of both tasks.
    <br />Remember to take your time and <span style="text-decoration: underline;">complete the task as accurate as possible.</span></h4>
  </div>
  <div class="col-lg-3"></div>
  <div class="col-lg-12 text-center">
    <button id="prac0_exp0_btn" type="button" class="btn btn-info">Begin Task One</button>
  </div>
 </div>
{% endblock %}
