{% extends 'layout.html' %}
{% block container %}
<div id="prac1_instructions_div" class="row">
  <div class="col-lg-3"></div>
   <div class="col-lg-6">
     <h4 style="text-align: center;">Task Two will test your ability to match what you see in an image to another image.
        You will be shown an image for 50 milliseconds (200 milliseconds for the practice session) after which the image will disappear.
        When the image disappears, three new images will be shown. You can take as much time as you want to select one of the three images.
        Pick the image that best matches the image shown.</h4>
   </div>
   <div class="col-lg-3"></div>
   <div class="col-lg-12 text-center">
     <button id="prac1_begin_btn" type="button" class="btn btn-info">Begin Practice</button>
   </div>
</div>
<div id="prac1_probe_div" class="row hidden">
   <div class="col-lg-12">
     <h4 style="text-align: center;">
       <img style="width: 224px; height: 224px;" src="https://athletics.bethel.edu/images/2012/9/13//RichardWebster.jpg?width=300" />
     </h4>
   </div>
</div>
<div id="prac1_response_div" class="row hidden">
   <div class="col-lg-12">
     <div class="col-lg-6 text-right">
       <button id="prac1_0_btn" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="{{ url_for('static', filename='images/profile.jpg') }}" />
       </button>
     </div>
     <!-- <div class="col-lg-12 text-center"></div> -->
     <div class="col-lg-6 text-left">
       <button id="prac1_1_btn" type="button" class="btn btn-info">
         <img style="width: 224px; height: 224px;" src="https://engineering.nd.edu/profiles/wscheirer/@@images/bfe54e98-feb0-45b1-93e1-26fbf40d18fe.jpeg" />
       </button>
     </div>
   </div>
</div>
<div id="prac1_answer_div" class="row hidden">
  <div class="col-lg-3"></div>
  <div class="col-lg-6 text-center">
    <h4>Unlike this example, you will not receive any feedback until the end of both tasks.
    <br />Remember to take your time and <span style="text-decoration: underline;">complete the task as accurate as possible.</span></h4>
  </div>
  <div class="col-lg-3"></div>
  <div class="col-lg-12 text-center">
    <button id="prac1_exp0_btn" type="button" class="btn btn-info">Begin Task Two</button>
  </div>
 </div>
{% endblock %}
